<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong style="font-size: 25px;">汽</strong>车租凭管理系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">车辆管理</a></li>
            <li><a href="#">租车管理</a></li>
            <li><a href="">还车管理</a></li>
            <li><a href="">维修管理</a></li>
            <li><a href="">收入分析</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Link</a></li>-->
            <li class="dropdown">
                <a href="#">登出</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>